body {
    margin: 0;
    padding: 0;
    background: url('wood.png');
}
html, body {
    height: 100%;
}

.container-fluid,
.row,
.row > div {
    height: 100%;
}

#board {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: url(img/board.jpg) 0 0 no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.square {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: inline-block;
    
    height: 13.325%;
    width: 8.15%;

    position: absolute;
}

#square0 { right: 0%; bottom: 0; width: 13.325% }
#square1 { right: 13.325%; bottom: 0 }
#square2 { right: 21.475%; bottom: 0 }
#square3 { right: 29.625%; bottom: 0 }
#square4 { right: 37.775%; bottom: 0 }
#square5 { right: 45.925%; bottom: 0 }
#square6 { right: 54.075%; bottom: 0 }
#square7 { right: 62.225%; bottom: 0 }
#square8 { right: 70.375%; bottom: 0 }
#square9 { right: 78.525%; bottom: 0 }

#square10 { bottom: 0%; left: 0; width: 13.325% }
#square11 { bottom: 13.325%; left: 0; width: 13.325%; height: 8.15% }
#square12 { bottom: 21.475%; left: 0; width: 13.325%; height: 8.15% }
#square13 { bottom: 29.625%; left: 0; width: 13.325%; height: 8.15% }
#square14 { bottom: 37.775%; left: 0; width: 13.325%; height: 8.15% }
#square15 { bottom: 45.925%; left: 0; width: 13.325%; height: 8.15% }
#square16 { bottom: 54.075%; left: 0; width: 13.325%; height: 8.15% }
#square17 { bottom: 62.225%; left: 0; width: 13.325%; height: 8.15% }
#square18 { bottom: 70.375%; left: 0; width: 13.325%; height: 8.15% }
#square19 { bottom: 78.525%; left: 0; width: 13.325%; height: 8.15% }

#square20 { left: 0%; top: 0; width: 13.325% }
#square21 { left: 13.325%; top: 0 }
#square22 { left: 21.475%; top: 0 }
#square23 { left: 29.625%; top: 0 }
#square24 { left: 37.775%; top: 0 }
#square25 { left: 45.925%; top: 0 }
#square26 { left: 54.075%; top: 0 }
#square27 { left: 62.225%; top: 0 }
#square28 { left: 70.375%; top: 0 }
#square29 { left: 78.525%; top: 0 }

#square30 { top: 0%; right: 0; ; width: 13.325% }
#square31 { top: 13.325%; right: 0; width: 13.325%; height: 8.15% }
#square32 { top: 21.475%; right: 0; width: 13.325%; height: 8.15% }
#square33 { top: 29.625%; right: 0; width: 13.325%; height: 8.15% }
#square34 { top: 37.775%; right: 0; width: 13.325%; height: 8.15% }
#square35 { top: 45.925%; right: 0; width: 13.325%; height: 8.15% }
#square36 { top: 54.075%; right: 0; width: 13.325%; height: 8.15% }
#square37 { top: 62.225%; right: 0; width: 13.325%; height: 8.15% }
#square38 { top: 70.375%; right: 0; width: 13.325%; height: 8.15% }
#square39 { top: 78.525%; right: 0; width: 13.325%; height: 8.15% }


/*
----------------------------------
*/
#chance, #community{
    width:20%;
    height:20%;
    
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    border: 1px solid black;
}

#chance{
    
}


.die {
    display:inline-block;
    height:90px;
    width:90px;
    border: 1px solid black;
    border-radius: 30%;
    margin:5px;
    line-height: 90px;
    font-size: 80px;
    text-align: center;
}

#buy {
    
}
#buy.active {
    background: white;
}

#buy,
#mortgage,
#dice,
#end-turn,
#pay-jail,
#card {
	opacity: 0.3;
}

#buy.active,
#mortgage.active,
#dice.active,
#end-turn.active,
#pay-jail.active,
#card.active {
	opacity: 1;
}

#button-controls{
    
}

#button-controls div{
    margin: 4px auto;
}


#button-controls span, #button-controls span a{
    
}

.owned0 { background: rgba(0, 173, 167, 0.7) }
.owned1 { background: rgba(255, 235, 121, 0.7) }
.owned2 { background: rgba(194, 71, 4, 0.7) }
.owned3 { background: rgba(91, 224, 108, 0.7) }

.owned0.mortgaged { background: rgba(0, 173, 167, 0.3) }
.owned1.mortgaged { background: rgba(255, 235, 121, 0.3) }
.owned2.mortgaged { background: rgba(194, 71, 4, 0.3) }
.owned3.mortgaged { background: rgba(91, 224, 108, 0.3) }

.person {
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	background-color: #000;
	border-radius: 50%;
	background-size: 80%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#player0 { background-image: url(img/player1.png); background-color: rgba(0, 173, 167, 0.7) }
#player1 { background-image: url(img/player2.png); background-color: rgba(255, 235, 121, 0.7) }
#player2 { background-image: url(img/player3.png); background-color: rgba(194, 71, 4, 0.7) }
#player3 { background-image: url(img/player4.png); background-color: rgba(91, 224, 108, 0.7) }

td.jailed {
	background: rgba(0, 0, 0, 0.2); 
}