.login_body{
    background: url(/static/img/back.png);
    background: url(/static/img/pinlayer2.png),url(/static/img/pinlayer1.png),url(/static/img/back.png);
}

.vertical-offset-100{
    padding-top:100px;
}

.chat-bigger #chat-messages-container{
    height: 300px;
}

.leave, .join{
    display: none;
}
#vmolpoly-avatar{
width: 68%;
margin: 0 auto;
display: block;
}

.jumbotron ul li{
    font-size: 21px;
    font-weight: 200;
}
.nav-tabs{
    border-bottom: 5px solid #ddd;
    margin-bottom: 2em;
}


#property-menu {
    position: fixed;
    top: 30%;
    left: 55%;
    max-width: 500px;
    margin-top: -50px;
    margin-left: -100px;
    background-color: rgba(255, 255, 255, 0.88);
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%);*/
}
.property-menu, .property-menu-child{
    background-color: rgba(255, 255, 255, 0.88);
    padding: 10px;
    min-height: 300px;
    float: left;
}
.property-menu{
    max-width: 350px;
}
.property-menu-child{
    max-width: 350px;
}

.square.watched {
    border: rgba(110, 255, 23, 0.76) 7px solid;
}



/** DICE **/
#dice-vis{
    float: right;
}
.die{
    width: 75px;
    height: 75px;
    font-size: 50px;
    padding-bottom:0;
}




/* Context menu's CSS */
/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}



/** Spy css */
.spy, .spy > p, .spy > h1 h2 h3 h4 h5{
    font-family: "Droid Sans Mono", "Courier New", monospace;
    color:green;
}
.spy > h1:after {
    content: "...";
    padding-left: 5px;
}
.spy{
    background-color: black;
}


/** HOTEL */
.glyphicon-hotel{
    color: red;
    font-size: 160%;
}

.property-menu-child-bold > td{
    font-weight: bold;
}
