.login_body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
}

.vertical-offset-100{
    padding-top:100px;
}

.chat-bigger #chat-messages-container{
    height: 300px;
}

.leave, .join{
    display: none;
}
#vmolpoly-avatar{
width: 68%;
margin: 0 auto;
display: block;
}

.jumbotron ul li{
    font-size: 21px;
    font-weight: 200;
}
.nav-tabs{
    border-bottom: 5px solid #ddd;
    margin-bottom: 2em;
}


#property-menu {
    position: fixed;
    top: 30%;
    left: 55%;
    max-width: 500px;
    margin-top: -50px;
    margin-left: -100px;
    background-color: rgba(255, 255, 255, 0.88);
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%);*/
}
.property-menu, .property-menu-child{
    background-color: rgba(255, 255, 255, 0.88);
    padding: 10px;
    min-height: 300px;
    float: left;
}
.property-menu{
    max-width: 350px;
}
.property-menu-child{
    max-width: 350px;
}

.square.watched {
    border: rgba(110, 255, 23, 0.76) 7px solid;
}
