{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Board{% endblock %}

{% block body_block %}
    
    <!--
    <img id="board" src="{% static 'monopoly-board.jpg' %}" alt="My image"/>
    -->

    {% if massive_json %}
    	<div id="board"><div class="content">
  		{% for e in massive_json %}
 		    {{ e }}
		{% endfor %}
		</div></div>
	{% else %}
    	<div id="board">
    	</div>
	{% endif %}

	

{% endblock %}


{% block side_block %}
    
    <!--
    <img id="board" src="{% static 'monopoly-board.jpg' %}" alt="My image"/>
    -->

    <div id="playerList"></div>

    <div id="dice">Dice</div>
    <div id="end-turn">End turn</div>
    
    <div id="buy">Buy</div>

{% endblock %}