{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Board{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <a href="/"><img id="vmolpoly-avatar" src="{% static 'img/logo.png' %}" alt=""></a>
            <h1>Bienvenu  </h1>
            <p>Après l'épique Bataille navale de 2015, nous revenons à la charge avec un monopoly 100% customised for VM ! Cette page est
            déjà accessible pour vous permettre de discuter et de lire les règles du jeux... Bonne chasse !</p>
            <p>
                <b> Salut {{user.username}} </b>, tu peux utiliser les menus ci-dessous
                pour accèder à quelques fonctionnalités du jeu, le chat, les règles ainsi qu'à une liste complète des joueurs enregistrés.
            </p>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chat</a></li>
                <li role="presentation"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Règles du jeu</a></li>
                <li role="presentation"><a href="#playerslist" aria-controls="playerslist" role="tab" data-toggle="tab">Liste des joueurs</a></li>
                {% if user.is_superuser %}
                <li role="presentation"><a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">Admin</a></li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <p>
                        Ici tout le monde peut parler ensemble, pour la suite du jeu un chat par équipe sera disponible.
                    </p>
                    <div id="chat" class="chat-bigger"></div>
                    <!-- You should try to include this at another place at your convenience :D -->
                    <script type="text/javascript" src="/static/js/jchat.js"></script>
                    <script type="text/javascript">
                    /* chat_id is passed form the view, the init_chat function then does all the magic */
                    $(window).ready(function(){
                    	init_chat(0, "chat", 'false', true);
                    })
                    </script>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="rules">
                    {% include 'regles.html' %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="playerslist">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th># ID</th>
                                <th>Username</th>
                                <th>Équipe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                             <tr>
                                <td> {{u.django_user.pk}} </td>
                                <td> {{u.django_user.username}} </td>
                                <td> {{u.groupe.name}} </td>
                             </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if user.is_superuser %}
                <div role="tabpanel" class="tab-pane fade" id="admin">
                    <a role="button" class="btn btn-default" href="{% url 'game' game_id %}">Voir le plateau</a>
                    <a data-confirm="Are you sure you want to delete?" role="button" class="btn btn-default" href="{% url 'super_reset' %}">Super reset</a>
                </div>
                {% endif %}
            </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
</div>


{% endblock %}
