<div class="property-menu" style="max-width:300px; min-height:300px;">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td> Nom de la propriété </td>
                <td> {{clicked_object.square.title}} </td>
            <tr>
            </tr>
                <td> Coût à l'achat </td>
                <td> {{clicked_object.price}} $</td>
            </tr>
            <tr>
                <td> Taxe de passage </td>
                <td> {{clicked_object.tax_site}} $</td>
            </tr>
            <tr>
                <td> Hypothèque </td>
                <td> {{clicked_object.mortgage_price}} $ </td>
            </tr>
            {% if clicked_object.street %}
            <tr>
                <td> Couleur </td>
                <td style="background-color:{{clicked_object.street.color}}; opacity:0,7 ;"> </td>
            </tr>
            {% endif %}
            <tr>
                <td> Possédé par </td>
                <td> {% if clicked_object.owned_by %} {{clicked_object.owned_by.name}} {% else %}Personne{% endif %} </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <!-- Buy house -->
        {% if not clicked_object.build_house >= 5 %}
        <form class="house-form" id="buy-house-form">
            <input name="property_id" type="hidden" value="{{clicked_object.pk}}" />
            <input name="action_type" type="hidden" value="buy-house" />
            <input type="submit" class="btn btn-primary" {% if clicked_object.build_house == 4 %} value="Ajouter un hotel ({{clicked_object.house_price}}$)"/> {% else %} value="Ajouter une maison ({{clicked_object.house_price}}$)"/> {% endif %}
        </form>
        {% endif %}
        {% if not clicked_object.is_mortgaged %}
        <!-- Mortgage house -->
        <form class="house-form" id="mortage-house-form">
            <input name="property_id" type="hidden" value="{{clicked_object.pk}}" />
            <input name="action_type" type="hidden" value="mortage-house" />
            <input type="submit" class="btn btn-primary" value="Hypothéquer la propriété ({{clicked_object.price}}$)" />
        </form>
        {% endif %}
        {% if clicked_object.is_mortgaged %}
        <!-- Un-Mortage house -->
        <form class="house-form" id="unmortgage-house-form">
            <input name="property_id" type="hidden" value="{{clicked_object.pk}}" />
            <input name="action_type" type="hidden" value="unmortgage-house" />
            <input type="submit" class="btn btn-primary" value="Dé-hypothéquer la maison ({{clicked_object.mortgage_price}} $)" />
        </form>
        {% endif %}
        <!-- Sell house -->
        {% if clicked_object.build_house > 0 %}
        <form class="house-form" id="sell-house-form">
            <input name="property_id" type="hidden" value="{{clicked_object.pk}}" />
            <input name="action_type" type="hidden" value="sell-house" />
            <input type="submit" class="btn btn-primary" value="Vendre une maison ({{clicked_object.house_sell_price}}$)" />
        </form>
        {% endif %}
    </div>

</div>
<div class="property-menu-child">
    {% if clicked_object.tax_1house %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td> Prix achat maison </td>
                <td> {{clicked_object.house_price}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 0 %} class="property-menu-child-bold" {% endif %}>
                <td> Taxe sans maison </td>
                <td> {{clicked_object.tax_site}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 1 %} class="property-menu-child-bold" {% endif %}>
                <td> Taxe 1ère maison </td>
                <td> {{clicked_object.tax_1house}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 2 %} class="property-menu-child-bold" {% endif %}>
                <td> Taxe 2ème maison </td>
                <td> {{clicked_object.tax_2house}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 3 %} class="property-menu-child-bold" {% endif %}>
                <td> Taxe 3ème maison </td>
                <td> {{clicked_object.tax_3house}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 4 %} class="property-menu-child-bold" {% endif %}>
                <td> Taxe 4ème maison </td>
                <td> {{clicked_object.tax_4house}} $</td>
            </tr>
            <tr{% if clicked_object.build_house == 5 %} class="property-menu-child-bold" {% endif %}>
                <td> Hôtel </td>
                <td> {{clicked_object.tax_hotel}} $</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
