<p>
    <b> Tricher c'est bien ! Perdre c'est mal ! Voilà un bon résumé des règles... tout ce qui n'a pas été sécurisé
        ou explicitement interdit est autorisé ... bonne chance </b>
</p>

<h2> Généralités</h2>
    <p>
        Le jeu se déroule en <b>équipe</b>, il existe quatre équipes, les Rouges, les Verts, les Jaunes et les Bleus. Chaque équipe
        dispose d'un pion sur le plateau, ce pion est commun à tous les joueurs d'une même équipe.

        Le jeu <b> ne se joue pas tour par tour </b>, chaque équipe reçoit trois jets de dés par jour, un le matin, un à midi et un le soir.
        <br>
        <b>Il est strictement interdit d'attaquer physiquement un autre participant. </b>
    </p>


<h2> But du jeu ? </h2>
    <p>
        Gagner le plus d'argent !! Découvrir l'identité des joueurs adverses et chaque maison entière à la fin du jeu
         raporte des points supplémentaires.
    </p>



<h2> Boutons d'actions </h2>
    <p>
        Sur le plateau en ligne il existe plusieurs <b>boutons d'actions</b> :</p>
        <ul>
            <li> Lancer les dés </li>
            <li> Acheter la propriété </li>
            <li> Clique droit sur un groupe de propriété permet de : </li>
            <ul>
                <li> Hypothéquer la propriété </li>
                <li> Dé-Hypothéquer la propriété </li>
                <li> Vendre la propriété </li>
                <li> Construire des maisons / hôtels </li>
            </ul>
            <li> Utiliser un code spécial (voir ci-dessous)</li>
        </ul>
    <p>
        Dès que l'on clique sur un bouton d'action, l'action/l'effet est directement et irrémédiablement effectué.
    </p>


<h2> Comment Jouer par équipe ? </h2>
    <p>
        Dès qu'un joueur appuie sur un des <b> boutons d'actions</b> <b><i>  l'action/l'effet est directement et irrémédiablement effectué. </i></b>
        Mettez vous donc d'accord via votre <b>chat d'équipe</b> avant d'effectuer des actions en solo ! Sinon malheur à vous :-).
    </p>


<h2> Chasse au Trésor </h2>
    <p>
        Deux à trois fois par jours l'intégralité des joueurs recevra un certain nombre d'indices, par email et par whatsap. Les indices se réfèrent tous à
        un lieu géographique précis, à ce lieu se trouve un <b>code spécial</b> de 10 caractères aléatoires dans une petite pochette en plastique.

        Les indices sont répartis dans une zone géographique délimitée par Montreux, Lausanne, Châtel-St-Denis et Les Pléiades. (il n'y aura pas de poste à Fribourg cette année désolé les zozet !)
    </p>


<h2> Codes spéciaux </h2>
    <p>
        Durant la chasse au Trésor, tu peux découvrir différents types de codes/bonus :
        <ul>
            <li>Espionner le chat d'une équipe adverse </li>
            <li>Gagner du cash ($) supplémentaire</li>
            <li>Se déplacer une fois sur la case de son choix</li>
            <li>Un bouclier te permettant de ne pas payer les 2 prochaines taxes de passage</li>
            <li>Jet de dé supplémentaire</li>
        </ul>
    </p>

<h2>Code d'essai GRATUIT </h2>
Voici quelques codes pour la journée d'essai :
<ul>
    <li> Cheat code, ID : 164 , CHOK7Q1M66, freebuy
    </li>
    <li> Cheat code, ID : 163 , CAW3L12KB8, freebuy

    </li>
    <li>Cheat code, ID : 162 , CKXNZCP95K, freebuy
    </li>
    <li>Cheat code, ID : 161 , C01286QTMR, shield
    </li>
    <li> Cheat code, ID : 160 , CPR0W3MH5U, shield
    </li>
    <li>Cheat code, ID : 159 , CGLFNEW35R, shield
    </li>
    <li>Cheat code, ID : 158 , CFDTPT1ET5, shield
    </li>
    <li>Cheat code, ID : 157 , C96ST8GUDH, moveanywhere
    </li>
    <li>Cheat code, ID : 156 , CCM3FMV4M1, moveanywhere
    </li>
    <li>
    Cheat code, ID : 155 , CCQDNCAZT9, moveanywhere
    </li>
    <li>Cheat code, ID : 154 , C0RCLV6Y9N, adddice
    </li>
    <li>Cheat code, ID : 153 , C7NOJMPZRQ, adddice
    </li>
    <li>Cheat code, ID : 152 , C865C24M82, adddice
    </li>
    <li>Cheat code, ID : 151 , C2557WYVSH, givemoney
    </li>
</ul>
